{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Immunisation</title>
    <link rel="stylesheet" href="{% static 'css/formstyle.css'%}">
</head>
<body>
    <div class="alert alert-success m-2" id="msg">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    </div>
    <form action="" method="POST">
        {% csrf_token %}
       {% for fields in forms %}
        <div class="form-control {%if fields.errors%}errors{%endif%}">
        {{fields.label_tag}}
        {{fields}}
        {{fields.errors}}
        {% endfor %}
        </div>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>